# ignore these files

# object files
*.o

# windows binaries
Program/bin
*.exe
*.dll
# generated log files
*.log

# hidden files
.*
*.gch

# other and shared library binary files
*.so*
*.lib
[*.lo]
*.la
*.out

# vim backup files
*~
# everything else i dont want
main
/Default/
*.in
Makefile
aclocal.m4
autom4te.cache/
*.txt
config.guess
config.h
config.hin
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing                                                                                                                                  stamp-h1
